<div class="main">
  <div class="example-list d-flex justify-content-center" style="padding: 5px; margin: 10px">
    <input type="search" class="form-control" [(ngModel)]="searchBar" (ngModelChange)="search()" />
  </div>
  <div class="example-list" cdkDropList #todoList="cdkDropList" [cdkDropListConnectedTo]="[doneList]"
    (cdkDropListDropped)="drop($event)" cdkDropListSortingDisabled [cdkDropListData]="filteredElements">
    <div class="row" style="margin: 0px; padding-left: 0px; padding-right: 0px;">
      @for(element of filteredElements; track element){
      <div class="col-lg-6 col-md-12 col-xs-12 mb-3">
        <div class="wrimagecard wrimagecard-topimage" cdkDrag [cdkDragDisabled]="!draggable">
          <div class="wrimagecard-topimage_header"
            style="background-color:rgba(187, 120, 36, 0.1); height: 50% !important;">
            <center><i [class]="element.icon"></i></center>
          </div>
          <div class="wrimagecard-topimage_title d-flex justify-content-center">
            <center>
              <h3> {{ element.name }}
              </h3>
            </center>
            <div *cdkDragPreview style="width: 10px; height: 10px; border: 1px solid black; margin-top: 5px;"></div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
<div class="example-container" style="display: none">
  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="addedElements" [cdkDropListConnectedTo]="[todoList]"
    class="example-list" (cdkDropListDropped)="drop($event)"></div>
</div>