@if(elements.length){
<form #previewContent [method]="method" [action]="endpoint_url" (submit)="formSubmit()">
    @for(elementRef of elements; track elementRef){
    @if(elementRef.tag === 'label'){
    <label style="position: absolute; align-content: center;"
        [ngStyle]="{ 'left.px': elementRef.position.x,'top.px': elementRef.position.y}"
        [style.width.px]=" elementRef.style.width" [style.height.px]="elementRef.style.height"
        [style.fontSize.px]="elementRef.style.fontSize" [style.color]="elementRef.style.color"
        [style.backgroundColor]="elementRef.style.backgroundColor" [style.fontWeight]="elementRef.style.fontWeight"
        [style.fontStyle]="elementRef.style.fontStyle" [style.textDecoration]="elementRef.style.textDecoration"
        [style.textAlign]="elementRef.style.textAlign"> {{
        elementRef.attributes.value
        }} </label>
    }
    @if(elementRef.tag === 'input' && (elementRef.attributes.type === 'text' || elementRef.attributes.type === 'number'
    || elementRef.attributes.type === 'date' || elementRef.attributes.type === 'password')){
    <input [id]="elementRef.id" style="position: absolute;"
        [ngStyle]="{ 'left.px': elementRef.position.x, 'top.px': elementRef.position.y }"
        [name]="elementRef.formControlName" [style.width.px]=" elementRef.style.width"
        [style.height.px]="elementRef.style.height" [style.fontSize.px]="elementRef.style.fontSize"
        [style.color]="elementRef.style.color" [style.backgroundColor]="elementRef.style.backgroundColor"
        [style.fontWeight]="elementRef.style.fontWeight" [style.fontStyle]="elementRef.style.fontStyle"
        [style.textDecoration]="elementRef.style.textDecoration" [style.textAlign]="elementRef.style.textAlign"
        [style.fontFamily]="elementRef.style.fontFamily" [type]="elementRef.attributes.type"
        [value]="elementRef.attributes.value" [readonly]="elementRef.attributes.readonly"
        [required]="elementRef.attributes.required" [placeholder]="elementRef.attributes.placeholder"
        [autocomplete]="elementRef.attributes.autocomplete" [autocapitalize]="elementRef.attributes.autocapitalize"
        [style.borderRadius.px]="elementRef.style.borderRadius" [style.border]="elementRef.style.border">
    }
    @if(elementRef.tag === 'img'){
    <img [id]="elementRef.id" style="position: absolute;"
        [ngStyle]="{'left.px': elementRef.position.x, 'top.px': elementRef.position.y }"
        [src]="elementRef.attributes.src" [name]="elementRef.attributes.name" [alt]="elementRef.attributes.alt"
        [style.width.px]="elementRef.style.width" [style.height.px]="elementRef.style.height"
        [title]="elementRef.attributes.title" [loading]="elementRef.attributes.loading"
        [style.borderRadius.px]="elementRef.style.borderRadius" [style.border]="elementRef.style.border"
        [decoding]="elementRef.attributes.decoding">
    }
    @if(elementRef.tag === 'select'){
    <select [id]="elementRef.id" style="position: absolute;"
        [ngStyle]="{ 'left.px': elementRef.position.x, 'top.px': elementRef.position.y}"
        [style.width.px]="elementRef.style.width" [name]="elementRef.formControlName"
        [style.height.px]="elementRef.style.height" [style.fontSize.px]="elementRef.style.fontSize"
        [style.color]="elementRef.style.color" [style.backgroundColor]="elementRef.style.backgroundColor"
        [style.fontWeight]="elementRef.style.fontWeight" [style.fontStyle]="elementRef.style.fontStyle"
        [style.textDecoration]="elementRef.style.textDecoration" [style.textAlign]="elementRef.style.textAlign"
        [style.borderRadius.px]="elementRef.style.borderRadius" [style.border]="elementRef.style.border"
        [style.fontFamily]="elementRef.style.fontFamily">
        @for(option of elementRef.options; track option){
        <option [value]="option.value"> {{ option.value}} </option>
        }
    </select>
    }
    @if(elementRef.tag === 'input' && elementRef.attributes.type === 'checkbox'){
    <span style="position: absolute; display: flex; align-items: center;"
        [ngStyle]="{ 'left.px': elementRef.position.x, 'top.px': elementRef.position.y}"
        [style.width.px]="elementRef.style.width" [style.height.px]="elementRef.style.height"
        [style.backgroundColor]="elementRef.style.backgroundColor">
        <input [type]="elementRef.attributes.type" [disabled]="elementRef.attributes.disabled"
            [value]="elementRef.attributes.value" [name]="elementRef.formControlName"
            [style.width.px]="elementRef.style.height" [style.height.px]="elementRef.style.height"
            [style.borderRadius.px]="elementRef.style.borderRadius" [style.border]="elementRef.style.border">
        &nbsp;
        <label style="display: flex; align-items: center;" [style.fontSize.px]="elementRef.style.fontSize"
            [style.color]="elementRef.style.color" [style.backgroundColor]="elementRef.style.backgroundColor"
            [style.fontWeight]="elementRef.style.fontWeight" [style.fontStyle]="elementRef.style.fontStyle"
            [style.textDecoration]="elementRef.style.textDecoration" [style.width.px]="elementRef.style.height"
            [style.height.px]="elementRef.style.height" [style.textAlign]="elementRef.style.textAlign">
            {{
            elementRef.attributes.value }} </label>
    </span>
    }
    @if(elementRef.tag === 'input' && elementRef.attributes.type === 'radio'){
    <span style="position: absolute; display: flex; align-items: center;"
        [ngStyle]="{'left.px': elementRef.position.x, 'top.px': elementRef.position.y}"
        [style.width.px]="elementRef.style.width" [style.height.px]="elementRef.style.height"
        [style.backgroundColor]="elementRef.style.backgroundColor">
        <input [type]="elementRef.attributes.type" [name]="elementRef.formControlName"
            [value]="elementRef.attributes.value" [style.width.px]=" elementRef.style.height"
            [style.height.px]="elementRef.style.height" [style.borderRadius.px]="elementRef.style.borderRadius"
            [style.border]="elementRef.style.border" [disabled]="elementRef.attributes.disabled">
        &nbsp;
        <label style="display: flex; align-items: center;" [style.fontSize.px]="elementRef.style.fontSize"
            [style.color]="elementRef.style.color" [style.fontWeight]="elementRef.style.fontWeight"
            [style.fontStyle]="elementRef.style.fontStyle" [style.textDecoration]="elementRef.style.textDecoration"
            [style.textAlign]="elementRef.style.textAlign" [style.width.px]="elementRef.style.height"
            [style.height.px]="elementRef.style.height">
            {{
            elementRef.attributes.value }} </label>
    </span>
    }
    @if(elementRef.tag === 'button'){
    <button style="position: absolute;" [ngStyle]="{'left.px': elementRef.position.x, 'top.px': elementRef.position.y }"
        [style.width.px]="elementRef.style.width" [style.height.px]="elementRef.style.height"
        [style.color]="elementRef.style.color" [style.fontSize.px]="elementRef.style.fontSize"
        [style.backgroundColor]="elementRef.style.backgroundColor" [type]="elementRef.attributes.type"
        [style.borderRadius.px]="elementRef.style.borderRadius" [style.textDecoration]="elementRef.style.textDecoration"
        [style.border]="elementRef.style.border">{{
        elementRef.attributes.value }}</button>
    }
    }
</form>
}