.example-box {
  color: rgb(0, 0, 0);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  position: absolute;
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-boundary {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

body {
  margin: 0;
  overflow: auto;
}

.content-wrapper {
  position: absolute;
  overflow: auto;
}

.top-bar-wrapper {
  width: 100%;
  height: 10px;
  background-color: transparent;
}

.top-bar-wrapper:hover {
  background-color: black;
}

.resizers {
  box-sizing: border-box;

  .resizer {
    opacity: 1;
    width: 3px;
    height: 3px;
    border-radius: 1px;
    position: absolute;
  }

  .right {
    top: 0;
    right: -3px;
    height: 100%;
    cursor: ew-resize;
  }

  .bottom {
    bottom: -3px;
    left: 0;
    width: 100%;
    cursor: ns-resize;
  }

  .top {
    top: -3px;
    left: 0;
    width: 100%;
    cursor: ns-resize;
  }

  .left {
    top: 0;
    left: -3px;
    height: 100%;
    cursor: ew-resize;
  }

  .bottom-right {
    right: 0px;
    bottom: 0px;
    cursor: nwse-resize;
  }

  .top-right {
    right: 0px;
    top: -3px;
    cursor: nesw-resize;
  }

  .top-left {
    left: -3px;
    top: -3px;
    cursor: nwse-resize;
  }

  .bottom-left {
    left: -3px;
    bottom: -3px;
    cursor: nesw-resize;
  }
}