<select class="form-select" [style.color]="options.fontColor" [style.fontSize.px]="options.fontSize"
    [style.width.px]="style.width" [style.height.px]="style.height" aria-label=" Default select
    example" *ngIf="styleRelative === null">
    @for(option of options.options; track option){
    <option [style.color]="options.fontColor" [style.fontSize.px]="options.fontSize" [value]="option.value">{{
        option.text }}</option>
    }
</select>

<select class="form-select" [style.color]="options.fontColor" [style.fontSize.px]="options.fontSize"
    [style.width.%]="styleRelative.width" [style.height.%]="styleRelative.height" aria-label=" Default select
    example" *ngIf="styleRelative !== null">
    @for(option of options.options; track option){
    <option [style.color]="options.fontColor" [style.fontSize.px]="options.fontSize" [value]="option.value">{{
        option.text }}</option>
    }
</select>