<textarea [(ngModel)]="text" (ngModelChange)="onChange()" [style.fontSize.px]="options.fontSize"
    [style.color]="options.fontColor" [minLength]="options.minLength" [maxLength]="options.maxLength"
    [readOnly]="options.readOnly" [required]="options.required" [style.width.px]="style.width"
    [style.height.px]="(style.height * 0.95)" *ngIf="styleRelative === null">
{{ options.text }} </textarea>

<textarea [(ngModel)]="text" (ngModelChange)="onChange()" [style.fontSize.px]="options.fontSize"
    [style.color]="options.fontColor" [minLength]="options.minLength" [maxLength]="options.maxLength"
    [readOnly]="options.readOnly" [required]="options.required" [style.width.%]="styleRelative.width"
    [style.height.%]="(styleRelative.height * 0.95)" *ngIf="styleRelative !== null">
{{ options.text }} </textarea>