<table class="table table-bordered" [style.width.px]="style.width" [style.height.px]="style.height"
    style="overflow-y: auto;" *ngIf="styleRelative === null">
    <thead class="thead-dark">
        <tr>
            <th scope="col" (click)="editableCaptions = !editableCaptions"><img src="assets/Edit.jpg" width="20px"
                    height="20px">
            </th>
            @for(cell of options.captions.cells; let i = $index; track cell){
            <th scope="col"><input type="text"
                    style="border: none; width: 100%; height: 100%; background-color: white; font-weight: bold;"
                    [value]="cell" [disabled]="editableCaptions"></th>
            }
        </tr>
    </thead>
    <tbody>
        @for(row of options.row; let i = $index; track row){
        <tr>
            <th scope="col" (click)="editRow(i)"><img src="assets/Edit.jpg" width="20px" height="20px"></th>
            @for(string of row.cells; track string){
            <td scope="col"><input type="text" style="border: none; width: 100%; height: 100%; background-color: white;"
                    [value]="string" [disabled]="isRowEditable(i)"></td>
            }
        </tr>
        }
        <td scope="col" (click)="addRow()"><img src="assets/plus.png" width="30px" height="30px"></td>
    </tbody>
</table>

<table class="table table-bordered" [style.width.%]="styleRelative.width" [style.height.%]="styleRelative.height"
    style="overflow-y: auto;" *ngIf="styleRelative !== null">
    <thead class="thead-dark">
        <tr>
            <th scope="col" (click)="editableCaptions = !editableCaptions"><img src="assets/Edit.jpg" width="20px"
                    height="20px">
            </th>
            @for(cell of options.captions.cells; let i = $index; track cell){
            <th scope="col"><input type="text"
                    style="border: none; width: 100%; height: 100%; background-color: white; font-weight: bold;"
                    [value]="cell" [disabled]="editableCaptions"></th>
            }
        </tr>
    </thead>
    <tbody>
        @for(row of options.row; let i = $index; track row){
        <tr>
            <th scope="col" (click)="editRow(i)"><img src="assets/Edit.jpg" width="20px" height="20px"></th>
            @for(string of row.cells; track string){
            <td scope="col"><input type="text" style="border: none; width: 100%; height: 100%; background-color: white;"
                    [value]="string" [disabled]="isRowEditable(i)"></td>
            }
        </tr>
        }
        <td scope="col" (click)="addRow()"><img src="assets/plus.png" width="30px" height="30px"></td>
    </tbody>
</table>